langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
langchain-text-splitters
langchain-groq
python-dotenv
pinecone-client
langchain-pinecone
langchain-huggingface
fastapi
fastapi[standard]
ipykernel
bs4
langsmith
pandas
langchain-experimental
networkx
json-repair
ollama
langchain-ollama
rouge-score
thefuzz
rank-bm25